@font-face {
    font-family: 'bebas';
    src: url('../../font/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto') format('truetype');
}

body {
    height: 100vh;
    margin: 0;
}

body {
    font-family: 'bebas', sans-serif;
    font-size: 20px;
}

#app {
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
}

.nightmode {
    background-color: #333333;
    color: #ffffff;
}