@font-face {
    font-family: 'bebas';
    src: url('../../font/BebasNeue-Regular.ttf') format('truetype');
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'bebas', sans-serif;
    font-size: 20px;
}

@-webkit-keyframes rainbowText {
    0%{background-position:0 50%}
    100%{background-position:100% 50%}
}
@-moz-keyframes rainbowText {
    0%{background-position:0 50%}
    100%{background-position:100% 50%}
}
@keyframes rainbowText {
    0%{background-position:0 50%}
    100%{background-position:100% 50%}
}

h1 {
    background: linear-gradient(270deg, #ca2525, #caa225, #cac625, #2dca25, #25c9ca, #2530ca, #c225ca, #ca2525, #caa225, #cac625, #2dca25, #25c9ca, #2530ca, #c225ca, #ca2525);
    background-size: 200% 200%;
    -webkit-animation: rainbowText 2s linear infinite;
    -moz-animation: rainbowText 2s linear infinite;
    animation: rainbowText 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#app {
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
}

.nightmode {
    background-color: #333333;
    color: #ffffff;
}