@font-face {
    font-family: 'bebas';
    src: url('../../font/BebasNeue-Regular.ttf') format('truetype');
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'bebas', sans-serif;
    font-size: 20px;
    color: #333333;
}

#app {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.placement, .controls {
    width: calc(100% / 3 - 5px);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.controls {
    font-size: 30px;
}

.controls p {
    padding-left: 20px;
    margin-top: 250px;
}

.nightmode {
    background-color: #333333;
    color: #ffffff;
}