.controls {
    margin-top: 10px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 15px 12px;
    background-color: #333333;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    font-size: 22px;
}

.enabled {
    background-color: hsl(110,70%,42%);
}

.disabled {
    background-color: hsl(0,70%,42%);
}

.gameOver {
    background-color: hsl(110,70%,42%);
    width: 100%;
}